@import '../../minerva.less/minerva.variables.less';
@import '../../minerva.less/minerva.mixins.less';

// stylelint-disable selector-max-id
.page-Main_Page {
	.mw-first-heading {
		border: 0;
	}

	&.is-authenticated {
		.pre-content {
			display: block;
		}
	}

	#page-secondary-actions a {
		margin-top: 1em;
	}
}
// stylelint-enable selector-max-id
