.ve-ui-expandableContent-collapsible {
	overflow: hidden;
	position: relative;
	margin: 0.4em 0 0.5em 0;
	transition: height 200ms;
}

.ve-ui-expandableContent-container {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	pointer-events: none; /* Allows clicking "through" the fade effect */
}

.ve-ui-expandableContent-toggle {
	background-color: #fff;
	pointer-events: auto;
}

.ve-ui-expandableContent-fade {
	background: linear-gradient( to right, rgba( 255, 255, 255, 0 ) 0, #fff 90% );
	width: 50px;
	height: 100%;
}

.ve-ui-expandableContent-collapsible > :last-child {
	margin-bottom: 0;
}
