// = Echo variables
@grey-light: #72777d;

@badge-padding: 0.12em;
@badge-icon-size: 1.1em;
@badge-distance-adjustment: 1em;

@notification-item-background-read: #eaecf0;

@notification-background-unseen: #dce8ff;
@notification-background-unread: @background-color-base;
@notification-background-read: #eaecf0;

@badge-counter-background-seen: @grey-light;

@notification-body-color: @grey-light;

@bundle-group-padding: 0.7em;

@opacity-low: 0.6;
@opacity-mid: 0.8;

@specialpage-separation-unit: 0.7em;
@specialpage-sidebar-width: 20em;

@specialpage-hd-width: 982px;

@specialpage-width: 1000px;

@background-color-popup-confirmation: #202122;
