@import '../../../minerva.less/minerva.variables.less';
@import '../../../minerva.less/minerva.mixins.less';

.printfooter {
	display: block;
	padding-top: 108px;
	font-size: 30px;
}

// stylelint-disable selector-max-id
.minerva-footer {
	border-top: solid 4px #000;
	// Un-hide the last-modified info and license text
	display: block;
	padding-top: 23px;
	background: #fff !important;

	.footer-content {
		display: block !important;

		#footer-info,
		#footer-info-lastmod,
		#footer-info-copyright {
			display: block !important;
			font-size: 30px;
			color: @colorPrintSubtle;
			font-weight: normal;
		}

		.minerva-footer-logo {
			margin: 0 !important;
			border: 0 !important;
			padding: 0 !important;
		}

		// Hide everything else once again
		#mw-data-after-content,
		#footer-places {
			display: none;
		}
	}

	.last-modified-bar {
		display: none;
	}
}
// stylelint-enable selector-max-id
