.header-container,
.header-container.header-chrome {
	background: @background-color-base;
	box-shadow: none !important;
}

.minerva-header {
	border-top: 0;
	// Un-hide the wordmark logo
	display: block;
	height: auto;
	padding: 0 @contentPadding;

	// Hide everything else once again
	.navigation-drawer,
	.minerva-search-form,
	.minerva-user-navigation {
		display: none !important;
	}

	.branding-box {
		height: auto;
		display: block !important;
		padding: 0 0 51px 0;

		// Beta indication is hidden in print mode
		sup {
			display: none !important;
		}
	}
}
