/*!
 * VisualEditor Apex theme customizations.
 *
 * @copyright See AUTHORS.txt
 */

/* ve.ui.MWSaveDialog summary */

.ve-ui-mwSaveDialog-withOptions .ve-ui-mwSaveDialog-summary .oo-ui-inputWidget-input {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.ve-ui-mwSaveDialog-options {
	border-bottom-right-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}

/* Ace editor widget */

/* stylelint-disable-next-line selector-class-pattern */
.ve-ui-mwAceEditorWidget-readOnly .ace_editor {
	background: #f8f9fa;
}
