@import '../../minerva.less/minerva.variables.less';

.mw-searchresults-has-iw {
	// stylelint-disable-next-line selector-max-id
	#mw-interwiki-results {
		margin-left: 0;
		width: 100%;
	}

	.iw-resultset:nth-child( 1 ) {
		.iw-result__header {
			border-top: solid 1px #ccc;
			padding-top: 12px;
		}
	}
}
