.mw-templateData-doc-params tbody > tr > th {
	text-align: left;
	font-weight: normal;
}

.mw-templateData-doc-param-alias {
	color: #777;
	display: block;
	margin-left: 1em;
}

.mw-templateData-doc-muted {
	font-style: italic;
	color: #777;
}

.mw-templatedata-doc-param-status-required {
	font-weight: bold;
}

.mw-templateData-format {
	font-weight: normal;
	font-size: 0.85em;
}

.mw-templateData-doc-param-name,
.mw-templateData-doc-param-type {
	white-space: nowrap;
}

.mw-templateData-maps-panel-button {
	margin-bottom: 0.5em;
}

.mw-templateData-template-map-list-menu-panel {
	border-right: 1px solid #c8ccd1;
}

.mw-templateData-template-remove-map-button {
	margin-bottom: 0.8em;
}

.oo-ui-menuLayout.oo-ui-menuLayout-showMenu.oo-ui-menuLayout-top > .oo-ui-menuLayout-menu {
	height: 4em;
	text-align: center;
	box-shadow: 0 5px 16px -8px #0000001f;
}

.tdg-templateDataDialog-addingNewMap .oo-ui-menuLayout.oo-ui-menuLayout-showMenu.oo-ui-menuLayout-top > .oo-ui-menuLayout-menu {
	height: 6.6em;
}

.tdg-templateDataDialog-editMapsPanel .oo-ui-menuLayout > .oo-ui-menuLayout-content {
	top: 4em;
}

.tdg-templateDataDialog-addingNewMap .oo-ui-menuLayout > .oo-ui-menuLayout-content {
	top: 6.6em;
}
