html.ve-activated {
	// Temporarily disable TOC in edit mode until TOC works with both visual and source editors
	// T294950
	.vector-toc {
		display: none;
	}

	// T367822
	&.skin-theme-clientpref-night {
		.ve-ce-branchNode-blockSlug,
		body p.ve-ce-branchNode-newSlug {
			background-color: rgba( 241, 247, 251, 0.1 );
		}
	}

	@media ( prefers-color-scheme: dark ) {
		&.skin-theme-clientpref-os {
			.ve-ce-branchNode-blockSlug,
			body p.ve-ce-branchNode-newSlug {
				background-color: rgba( 241, 247, 251, 0.1 );
			}
		}
	}
}
