@import '../../minerva.less/minerva.variables.less';

@media all and ( min-width: @min-width-breakpoint-tablet ) {
	.ns-special .pre-content {
		background: @background-color-base;
		margin-bottom: 15px;

		.tagline,
		h1 {
			margin: 0 @margin-content;
		}
	}

	.ns-special .mw-body {
		background: @background-color-interactive;

		form {
			background: @background-color-base;
		}
	}
}
