@import '../../common/variables.less';
@import 'mediawiki.mixins.less';

// Extends the common MenuDropdown, but allows it to be opened via hover.

.vector-menu-dropdown:not( .vector-user-menu ) {
	&:hover .vector-menu-content {
		opacity: 1;
		visibility: visible;
	}
}

.vector-menu-checkbox {
	&:checked + .vector-menu-heading:after {
		transform: scaleY( -1 );
	}
}

.vector-menu-dropdown {
	li {
		a {
			// Historic value.
			padding: unit( ( 8.125px / @font-size-browser ), em );
		}
	}
}
