.vector-menu-portal {
	.vector-menu-heading {
		background-image: linear-gradient( to right, @border-color-portal-heading-transparent 0, @border-color-portal-heading 33%, @border-color-portal-heading 66%, @border-color-portal-heading-transparent 100% ); // Standard (Firefox 16+, IE 10+, Safari 6.1+, Chrome 26+)
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 100% @border-width-base;
	}
}
