[submodule "extensions/CheckUser"]
	path = extensions/CheckUser
	url = https://github.com/wikimedia/mediawiki-extensions-CheckUser.git
	branch = REL1_38
[submodule "extensions/TitleKey"]
	path = extensions/TitleKey
	url = https://github.com/wikimedia/mediawiki-extensions-TitleKey.git
	branch = REL1_38
[submodule "extensions/BounceHandler"]
	path = extensions/BounceHandler
	url = https://github.com/wikimedia/mediawiki-extensions-BounceHandler.git
	branch = REL1_38
[submodule "extensions/Lockdown"]
	path = extensions/Lockdown
	url = https://github.com/wikimedia/mediawiki-extensions-Lockdown.git
	branch = REL1_38
[submodule "extensions/UserMerge"]
	path = extensions/UserMerge
	url = https://github.com/wikimedia/mediawiki-extensions-UserMerge.git
	branch = REL1_38
[submodule "extensions/CodeMirror"]
	path = extensions/CodeMirror
	url = https://github.com/wikimedia/mediawiki-extensions-CodeMirror.git
	branch = REL1_38
[submodule "extensions/FlarumAuth"]
	path = extensions/FlarumAuth
	url = https://github.com/archlinux-de/mediawiki-extensions-FlarumAuth.git
	branch = REL1_38
[submodule "mediawiki-extensions-DarkMode"]
	path = extensions/mediawiki-extensions-DarkMode
	path = mediawiki-extensions-DarkMode
	url = https://github.com/wikimedia/mediawiki-extensions-DarkMode
