[submodule "extensions/CheckUser"]
	path = extensions/CheckUser
	url = https://github.com/wikimedia/mediawiki-extensions-CheckUser.git
	branch = REL1_37
[submodule "extensions/AbuseFilter"]
	path = extensions/AbuseFilter
	url = https://github.com/wikimedia/mediawiki-extensions-AbuseFilter.git
	branch = REL1_37
[submodule "extensions/TitleKey"]
	path = extensions/TitleKey
	url = https://github.com/wikimedia/mediawiki-extensions-TitleKey.git
	branch = REL1_37
[submodule "extensions/BounceHandler"]
	path = extensions/BounceHandler
	url = https://github.com/wikimedia/mediawiki-extensions-BounceHandler.git
	branch = REL1_37
[submodule "extensions/Lockdown"]
	path = extensions/Lockdown
	url = https://github.com/wikimedia/mediawiki-extensions-Lockdown.git
	branch = REL1_37
[submodule "extensions/UserMerge"]
	path = extensions/UserMerge
	url = https://github.com/wikimedia/mediawiki-extensions-UserMerge.git
	branch = REL1_37
[submodule "extensions/CodeMirror"]
	path = extensions/CodeMirror
	url = https://github.com/wikimedia/mediawiki-extensions-CodeMirror.git
	branch = REL1_37
[submodule "extensions/FlarumAuth"]
	path = extensions/FlarumAuth
	url = https://github.com/archlinux-de/mediawiki-extensions-FlarumAuth.git
	branch = REL1_37
