@import 'mediawiki.mixins.less';
@import '../../../minerva.less/minerva.variables.less';
@import '../../../minerva.less/minerva.mixins.less';

/* This not does apply to links with role button per discussion on T373989 */
a:where( :not( [ role='button' ] ) ) {
	.cdx-mixin-link-base();
}

a:where( .new:not( [ role='button' ] ) ) {
	.cdx-mixin-link-red();
}

/**
 * Note that certain links may not have an href selector.
 * It is particularly important on wikis for example inside navbox's that these
 * links can be differentiated from other links. Thus we only apply the linkColor to links with href
 * attributes.
 * This can be removed when Minerva uses ResourceLoaderSkinModule `elements` feature.
*/
a.mw-selflink,
a:not( [ href ] ) {
	color: @color-base;
	font-weight: bold;
	text-decoration: inherit;
	/* The anchor is functionally a link so show a hand cursor. */
	cursor: pointer;
}

// External links
// Use of `a` element selector due to its widespread usage and for limiting generic class scope.
// `a.external` is for footer's “Creative Commons” license link only.
a.external {
	// background-image is specified by ResourceLoader via skin.json.
	background-position: center right;
	background-repeat: no-repeat;
	// Force the image size to be 10px.
	background-size: 10px;
	padding-right: 13px;
	/* Plainlinks - this can be used to switch
	* off special external link styling - copied from content-links SkinModule feature. */
	.plainlinks & {
		background: none !important;
		padding: 0 !important;
	}
}

// Generic class name needed
.return-link {
	display: block;
	font-size: @font-size-minerva-small;
	margin-top: 1.5em;
	.cdx-mixin-link-base();
}
