.client-js .vector-settings {
	display: block;
	position: fixed;
	bottom: 8px;
	right: 8px;
	z-index: @z-index-stacking-1;

	ul {
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		gap: 8px 8px;
	}
}
