.mw-ref > a:after {
	content: '[' counter( mw-Ref, oriya ) ']';
}

.mw-ref > a[ data-mw-group ]:after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, oriya ) ']';
}

span[ rel='mw:referencedBy' ] > a:before {
	content: counter( mw-references, oriya ) '.' counter( mw-ref-linkback, oriya );
}
