/* @noflip */
.mw-cite-dir-ltr {
	direction: ltr;
	text-align: left;
}

/* @noflip */
.mw-cite-dir-rtl {
	direction: rtl;
	text-align: right;
}

@counter-style nqo-counter {
	system: numeric;
	symbols: '߀' '߁' '߂' '߃' '߄' '߅' '߆' '߇' '߈' '߉';
}

.mw-ref > a:after {
	content: '[' counter( mw-Ref, nqo-counter ) ']';
}

.mw-ref > a[ data-mw-group ]:after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, nqo-counter ) ']';
}

span[ rel='mw:referencedBy' ] > a:before {
	content: counter( mw-references, nqo-counter ) '.' counter( mw-ref-linkback, nqo-counter );
}
