.mw-ref > a:after {
	content: '[' counter( mw-Ref, myanmar ) ']';
}

.mw-ref > a[ data-mw-group ]:after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, myanmar ) ']';
}

span[ rel='mw:referencedBy' ] > a:before {
	content: counter( mw-references, myanmar ) '.' counter( mw-ref-linkback, myanmar );
}
