// Ensure there is only 1 client prefs landmark at anytime
.vector-feature-client-prefs-pinned-enabled .vector-user-links .vector-client-prefs-landmark,
.vector-feature-client-prefs-pinned-disabled .vector-column-end .vector-client-prefs-landmark {
	display: none;
}

#vector-client-prefs-dropdown {
	.vector-dropdown-content {
		.mixin-vector-dropdown-content-flip();
	}
}

/* If JS is disabled the menu should not render at all */
.client-nojs .vector-client-prefs-landmark {
	display: none;
}

// By default, limited width client pref should be hidden unless the breakpoint below is reached.
#skin-client-prefs-vector-feature-limited-width {
	display: none;
}

// Note on certain pages the control will have no effect e.g. Special:RecentChanges
// Defining this at 1400px is a product decision so do not change it
// (more context at https://phabricator.wikimedia.org/T326887#8540889)
@media ( min-width: 1400px ) {
	#skin-client-prefs-vector-feature-limited-width {
		display: block;
	}
}
