.mw-indicators {
	font-size: @font-size-small;
	line-height: @line-height-base;
	position: relative;
	float: right;
	display: flex;
	column-gap: 8px;
	flex-wrap: wrap;
}

.mw-indicator {
	display: inline-block;
}
