@import '../../common/variables.less';
@import 'mediawiki.mixins.less';

.vector-feature-page-tools-disabled .vector-main-menu-group,
.vector-feature-page-tools-disabled .vector-main-menu-action-item {
	margin: 0 @margin-end-portal  0 @margin-start-portal;
	padding: 0.25em 0;
	direction: ltr;

	.vector-menu-heading {
		.mixin-vector-menu-heading();
		font-size: @font-size-nav-main-heading;
		margin: 0.5em 0 0 ( @margin-start-nav-main-body / @font-size-nav-main-heading );
		padding: 0.25em 0;
		border-bottom-style: @border-style-base;
	}

	.vector-menu-content {
		margin-left: @margin-start-portal-body;
		padding-top: 0;

		ul {
			padding-top: 0.3em;
		}

		li {
			margin: 0;
			padding: 0.25em 0;
			font-size: @font-size-portal-list-item;
			line-height: @line-height-nav;
			word-wrap: break-word;

			a {
				color: @color-link;

				&:visited {
					color: @color-link--visited;
				}
			}
		}
	}
}
