.vector-page-titlebar {
	position: relative;
	display: flex;
	// T335633 - Although nowrap is default, setting it explicitly to prevent layout issues with ToC & languages button.
	flex-wrap: nowrap;
	// Ensure language button or indicators are positioned to the right even when the title is hidden
	justify-content: flex-end;
	// Use box-shadow instead of border to allow border collapsing between titlebar and toolbar
	// FIXME: Delete box shadow after VectorZebraDesign flag is removed
	box-shadow: 0 1px @border-color-base;
	align-items: center;

	&-blank {
		box-shadow: none;
	}

	.firstHeading {
		flex-grow: 1;
		border: 0;
	}

	.vector-page-titlebar-toc.ve-active {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}

	> .cdx-button {
		font-size: @font-size-base;
		// When labels have multiple words e.g. "Add topic" make sure they do not wrap onto
		// new line. This can happen when editing pages with long titles. e.g. F36867314
		white-space: nowrap;
	}

	> .cdx-button,
	> .mw-portlet-lang {
		&:last-child {
			.cdx-mixin-button-layout-flush( 'end' );
		}
	}

	// The language button sometimes appears as an icon only button, in which
	// case we need to flush differently. See an empty user page for an example of
	// where this is used.
	> .mw-portlet-lang-icon-only:last-child {
		.cdx-mixin-button-layout-flush( 'end', true );
	}
}
