@border-base-ems: unit( @border-width-base / @font-size-browser / @font-size-base, em );

.vector-page-toolbar-container {
	display: flex;
	font-size: @font-size-tabs;
	// Use box-shadow instead of border to allow border collapsing between titlebar and toolbar
	box-shadow: 0 1px @border-color-portal-heading;
	// Add bottom margin to account for box-shadow
	margin-bottom: 1px;

	.mw-portlet-views {
		display: none;

		@media ( min-width: @min-width-tablet ) {
			&:not( .emptyPortlet ) {
				display: block;
			}
		}
	}

	// Reduce icon size for icon buttons in the page toolbar (i.e. watchstar, wikilove)
	.vector-icon {
		.cdx-mixin-css-icon-background( @size-icon-small );
		.cdx-mixin-css-icon-size( @size-icon-small );
		.cdx-mixin-css-icon-alignment( );
	}
}

// ID Selectors outside of .vector-page-toolbar-container to avoid over-specificity.
#left-navigation {
	// flex ensures all child elements align on one line.
	display: flex;
	margin-left: -@padding-horizontal-tabs;
	// pushes #right-navigation to the end of the line.
	flex-grow: 1;
}

#right-navigation {
	// flex ensures all child elements align on one line.
	display: flex;
	margin-right: -@padding-horizontal-tabs;

	// Any dropdowns inside the right navigation in modern Vector (e.g. "more" menu).
	// should be right-aligned to prevent horizontal scrolling.
	.vector-dropdown-content {
		.mixin-vector-dropdown-content-flip();
	}
}
