@import '../../common/variables.less';
@import 'mediawiki.mixins.less';
@import 'mediawiki.mixins.rotation.less';

/* Watch/Unwatch Icon Styling */
/* Only use icon if the menu item is not collapsed into the "More" dropdown
 * (in which case it is inside `.vector-menu-dropdown` instead of `.vector-menu-tabs`). */
// Note: there's no watchstar for anon users so no need to worry about cached HTML when changing this class
// Loading watchstar link class.
.mw-watchlink a:before {
	transition: transform 500ms;
}

.mw-watchlink .loading:before {
	/* Suppress the hilarious rotating focus outline on Firefox */
	outline: 0;
	cursor: default;
	pointer-events: none;
	transform-origin: 50% 50%;
}

.mw-ui-icon-wikimedia-unStar:before,
.mw-ui-icon-wikimedia-star.loading:before {
	transform: rotate( 72deg );
}
