#pt-notifications-notice .mw-echo-notifications-badge,
#pt-notifications-alert .mw-echo-notifications-badge {
	display: inline-block;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	top: -1px;

	&.oo-ui-widget {
		top: 0.1em;
	}

	&:after {
		top: 6px;
		left: 45%;
	}
}
