/**
 * Footer cleanup
 */

/* General layout */
#wpTextbox1 {
	margin: 0;
	display: block;
}

.editOptions {
	background-color: #F0F0F0;
	border: 1px solid silver;
	border-top: none;
	padding: 1em 1em 1.5em 1em;
	margin-bottom: 2em;
}

/* Styles for collapsible lists of templates used and hidden categories */
.collapsible-list {
	display: inline;
	cursor: pointer;
	min-width: 400px;
}

.collapsible-list span {
	float: left;
	/* @embed */
	background-image: url(./images/open.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: block;
	height: 16px;
	width: 16px;
}

.collapsible-list span.collapsed {
	/* @embed */
	background-image: url(./images/closed-ltr.png);
}

.hiddencats ul, .templatesUsed ul {
	margin-bottom: 1em;
	margin-left: 2.5em;
}

/* Adjustments to edit form elements */
.editCheckboxes {
	margin-bottom: 1em;
}

.editCheckboxes input:first-child {
	margin-left: 0;
}

.cancelLink {
	margin-left: 0.5em;
}

#editpage-copywarn {
	font-size: 0.9em;
}

#wpSummary {
	display: block;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.editButtons input:first-child {
	margin-left: .1em;
}
