// Variables for common colors and other properties

@import 'mediawiki.skin.variables.less';

@background: #f9f9f9; // don't change this; matches headbg images
@content-background: #fff;
@content-border: #aaa;
@orange-border: #fabd23;

@top-area-height: 2.8em;

// mobile objects
@top-position: 5px;
@block-size: 35px;
