/**
 * Style Parsoid HTML+RDFa output consistent with wikitext from PHP parser.
 */

@import '../../minerva.less/minerva.variables.less';

/*
 * Auto-numbered external links
 * (copied from MediaWiki's content.parsoid.less)
 */
.mw-parser-output {
	counter-reset: mw-numbered-ext-link;

	a[ rel~='mw:ExtLink' ]:empty:after {
		content: '[' counter( mw-numbered-ext-link ) ']';
		counter-increment: mw-numbered-ext-link;
	}
}
