@import 'mediawiki.mixins';
@import 'personalNavigation';
@import 'search';
@import 'tabs';

/* Hide, but keep accessible for screen-readers */
#mw-navigation h2 {
	position: absolute;
	top: -9999px;
}

.mw-jump-link:not( :focus ) {
	.mixin-screen-reader-text;
}

/* Head */
#mw-page-base {
	height: 5em;
	background-position: bottom left;
	.vertical-gradient( @background-color-base, @background-color-secondary, 50%, 100% );
}

#mw-head-base {
	margin-top: -5em;
	margin-left: 10em;
	height: 5em;
}

#mw-head {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

/* Navigation Containers */
#left-navigation {
	float: left;
	margin-left: 10em;
	margin-top: 2.5em;
	/* When right nav would overlap left nav, it's placed below it
	   (normal CSS floats behavior). This rule ensures that no empty space
	   is shown between them due to right nav's margin-top. Page layout
	   is still broken, but at least the nav overlaps only the page title
	   instead of half the content. */
	margin-bottom: -2.5em;
}

#right-navigation {
	float: right;
	margin-top: 2.5em;
}

/* Logo */
#p-logo {
	width: 10em;
	height: 160px;

	a {
		display: block;
		width: 10em;
		height: 160px;
		background-repeat: no-repeat;
		background-position: center center;
		text-decoration: none;
	}
}

/* Panel */
#mw-panel {
	position: absolute;
	top: 0;
	width: 10em;
	left: 0;
	font-size: @font-size-nav-main;

	.portal {
		margin: 0 0.6em 0 0.7em;
		padding: 0.25em 0;
		direction: ltr;

		h3 {
			color: @color-nav-subtle;
			font-weight: normal;
			margin: 0.5em 0 0 ( @margin-left-nav-main-body / @font-size-nav-main-heading );
			padding: 0.25em 0;
			cursor: default;
			border: 0;
			font-size: @font-size-nav-main-heading;
		}

		.body {
			margin-left: @margin-left-nav-main-body;
			padding-top: 0;
			background-image: url( images/portal-separator.png ); // Support: IE 8 & 9, Fx 3.6-15, Safari 5.1-6, Chrome 10-25
			background-image: linear-gradient( to right, transparent 0, #c8ccd1 35%, #c8ccd1 70%, transparent 100% ); // Standard (Firefox 16+, IE 10+, Safari 6.1+, Chrome 26+)
			background-repeat: no-repeat;
			background-size: 100% @border-width-base;

			ul {
				list-style: none none;
				margin: 0;
				padding-top: 0.3em;
			}

			li {
				margin: 0;
				padding: 0.25em 0;
				font-size: @font-size-nav-main-body;
				line-height: @line-height-nav;
				word-wrap: break-word;

				a {
					color: @color-link;

					&:visited {
						color: @color-link--visited;
					}
				}
			}
		}
	}

	/* First sidebar portlet. Not using :first-of-type for IE<=8 support. */
	#p-logo + .portal {
		background-image: none;
		margin-top: 1em;

		h3 {
			display: none;
		}

		.body {
			background-image: none;
			margin-left: @margin-left-nav-main-body;
		}
	}
}
