/**
 * Styles for Special:Editchecks
 */

.mw-editchecks {
	width: 100%;

	tr {
		vertical-align: top;
	}

	&-appearance {
		width: 1px;
	}

	.mw-editchecks-title,
	.mw-editchecks-name {
		width: 20%;
	}

	summary {
		cursor: pointer;
	}

	.mw-json {
		margin-top: 4px;
		margin-bottom: 8px;
	}

	.ve-ui-editCheckDialog {
		margin: 0 auto;
		width: 300px;

		.ve-ui-editCheckActionWidget.oo-ui-messageWidget {
			margin: 4px 0;
		}
	}
}
