@import 'ext.cite.parsoid.rtl.less';

@counter-style nqo-counter {
	system: numeric;
	symbols: '߀' '߁' '߂' '߃' '߄' '߅' '߆' '߇' '߈' '߉';
}

:root {
	--cite-backlink-separator: '.';
	--cite-counter-style: nqo-counter;
}
