@counter-style lzh-counter {
	system: numeric;
	symbols: '〇' '一' '二' '三' '四' '五' '六' '七' '八' '九';
}

.mw-ref > a::after {
	content: '[' counter( mw-Ref, lzh-counter ) ']';
}

.mw-ref > a[ data-mw-group ]::after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, lzh-counter ) ']';
}

span[ rel='mw:referencedBy' ] > a::before {
	content: counter( mw-references, lzh-counter ) '點' counter( mw-ref-linkback, lzh-counter );
}
