@counter-style sat-counter {
	system: numeric;
	symbols: '᱐' '᱑' '᱒' '᱓' '᱔' '᱕' '᱖' '᱗' '᱘' '᱙';
}

.mw-ref > a::after {
	content: '[' counter( mw-Ref, sat-counter ) ']';
}

.mw-ref > a[ data-mw-group ]::after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, sat-counter ) ']';
}

span[ rel='mw:referencedBy' ] > a::before {
	content: counter( mw-references, sat-counter ) '.' counter( mw-ref-linkback, sat-counter );
}
