/*
A file for css that corrects known rendering issues on known Wikimedia wikis ON TABLETS
Many of them correct hacks in place in common/hacks.less

It will become redundant when the following RFC is resolved:
https://www.mediawiki.org/wiki/Requests_for_comment/Allow_styling_in_templates

FIXME: Review all of these hacks to see if they still apply.
*/

@import '../../../../minerva.less/minerva.variables.less';
@import '../../../../minerva.less/minerva.mixins.less';

/* Tablet specific styling */
@media all and ( min-width: @width-breakpoint-tablet ) {
	.content {
		// Float infoboxes to the right of the page
		.infobox {
			margin: 0.5em 0 1em 35px !important;
			// Note this is fixed to ensure that we leave enough space for the sections to the infoboxes left
			// FIXME [Templates]: Inline styles force us to use !important
			max-width: @infoboxWidth !important;
			width: auto !important;
			float: right !important;
			clear: right !important;
		}
	}
}
