/**
 * Less mixins shared between both legacy and Vector 2022.
 */

// Defines the arrow beside dropdown headings.
.mixin-vector-menu-heading-arrow() {
	content: '';
	background: url( ../common/images/arrow-down.svg ) 100% 50% no-repeat;
	width: unit( 16 / @font-size-tabs / @font-size-browser, em );
	height: unit( 16 / @font-size-tabs / @font-size-browser, em );
}

.mixin-vector-dropdown-menu-item() {
	//NOTE: using px instead of em's due to difference in font-size
	// across dropdowns (i.e tabs 13px vs. personal menu 14px).
	min-height: 32px;
	display: flex;
	align-items: center;
	padding: 0 12px;

	&:visited {
		color: @color-link;
	}

	&.selected a,
	&.selected a:visited {
		color: @color-link-selected;
	}
}
