<label
	id="mw-sidebar-button"
	class="mw-checkbox-hack-button mw-ui-icon mw-ui-button mw-ui-quiet mw-ui-icon-element mw-ui-icon-flush-right"
	for="mw-sidebar-checkbox"
	role="button"
	aria-controls="mw-panel"
	data-event-name="ui.sidebar"
	tabindex="0"
	title="{{msg-vector-main-menu-tooltip}}">
	<span>{{msg-vector-action-toggle-sidebar}}</span>
</label>
