{{! monobook uses a `portlet` class. Standardisation of classes will come later }}
<div role="navigation" class="portlet {{class}}"
	id="{{id}}" aria-labelledby="{{id}}-label">
	<h3 id="{{id}}-label" {{{html-user-language-attributes}}}>{{label}}</h3>
	<div class="pBody">
		<ul {{{html-user-language-attributes}}}>{{{html-items}}}{{!
		}}</ul>
		{{{html-after-portal}}}
	</div>
</div>
