<div class="vector-column-start">
	{{>MainMenuPinned}}
	{{#data-toc}}
	<div class="vector-sticky-pinned-container">
		<nav id="mw-panel-toc" aria-label="{{ msg-vector-toc-label }}" data-event-name="ui.sidebar-toc" class="mw-table-of-contents-container vector-toc-landmark">
			{{! T313060 Additional container div needed to prevent the sticky element from being siblings with the footer }}
			{{#data-toc-pinnable-container}}
			{{>PinnableContainer/Pinned/Open}}
				{{#is-pinned}}
					{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
				{{/is-pinned}}
			{{>PinnableContainer/Close}}
			{{/data-toc-pinnable-container}}
		</nav>
	</div>
	{{/data-toc}}
</div>
