<header class="mw-header">
	<label
		id="mw-sidebar-button"
		class="mw-checkbox-hack-button mw-ui-icon mw-ui-icon-element"
		for="mw-sidebar-checkbox"
		role="button"
		aria-controls="mw-panel"
		data-event-name="ui.sidebar"
		tabindex="0">
		{{msg-vector-action-toggle-sidebar}}
	</label>
	{{>Logo}}
	{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
	{{#data-portlets}}
		{{#data-personal}}{{>Menu}}{{/data-personal}}
	{{/data-portlets}}
</header>
