{{! Use `.vector-main-menu` to target styles at this element}}
{{>PinnableElement/Open}}
	{{^is-page-tools-enabled}}
	{{#data-portlets-first}}{{>MainMenuGroup}}{{/data-portlets-first}}
	{{#data-main-menu-action}}{{>MainMenuAction}}{{/data-main-menu-action}}
	{{#array-portlets-rest}}{{>MainMenuGroup}}{{/array-portlets-rest}}
	{{^is-language-in-content}}
	{{#data-languages}}{{>MainMenuGroup}}{{/data-languages}}
	{{/is-language-in-content}}
	{{! T295555 Add language switch alert message. }}
	{{#data-vector-language-switch-alert}}{{>MainMenuAction}}{{/data-vector-language-switch-alert}}
	{{/is-page-tools-enabled}}

	{{#is-page-tools-enabled}}
	{{#data-portlets-first}}{{>Menu}}{{/data-portlets-first}}
	{{#data-main-menu-action}}{{>MainMenuAction}}{{/data-main-menu-action}}
	{{#array-portlets-rest}}{{>Menu}}{{/array-portlets-rest}}
	{{^is-language-in-content}}
	{{#data-languages}}{{>Menu}}{{/data-languages}}
	{{/is-language-in-content}}
	{{! T295555 Add language switch alert message. }}
	{{#data-vector-language-switch-alert}}{{>MainMenuAction}}{{/data-vector-language-switch-alert}}
	{{/is-page-tools-enabled}}
{{>PinnableElement/Close}}
