<div class="vector-menu-content">
	{{{html-before-portal}}}
	<ul class="vector-menu-content-list">
		{{#array-list-items}}{{>MenuListItem}}{{/array-list-items}}
		{{#html-items}}{{{.}}}{{/html-items}}
	</ul>
	{{{html-after-portal}}}
</div>
