<div class="vector-menu-content">
	{{{html-before-portal}}}
	<ul class="vector-menu-content-list">
		{{^html-items}}{{>MenuListItem}}{{/html-items}}
		{{#html-items}}{{{.}}}{{/html-items}}
	</ul>
	{{{html-after-portal}}}
</div>
