{{!
	See @typedef MenuDefinition
}}
{{! `role` is unnecessary but kept to support selectors in any gadgets or user styles. }}
<nav id="{{id}}"{{#class}} class="{{.}}"{{/class}} aria-labelledby="{{id}}-label" role="navigation" {{{html-tooltip}}}
	 {{{html-user-language-attributes}}}>
	{{#is-dropdown}}
	<input type="checkbox"
		id="{{id}}-checkbox"
		role="button"
		aria-haspopup="true"
		data-event-name="ui.dropdown-{{id}}"
		class="{{#checkbox-class}}{{.}} {{/checkbox-class}}vector-menu-checkbox" aria-labelledby="{{id}}-label" />
	{{/is-dropdown}}
	<label id="{{id}}-label" aria-label="{{aria-label}}"{{#heading-class}} class="{{.}}"{{/heading-class}}{{^is-legacy}} aria-hidden="true"{{/is-legacy}}>
		{{{html-vector-heading-icon}}}<span class="vector-menu-heading-label">{{label}}</span>
		{{#is-dropdown}}
			<span class="vector-menu-checkbox-expanded">{{msg-vector-menu-checkbox-expanded}}</span>
			<span class="vector-menu-checkbox-collapsed">{{msg-vector-menu-checkbox-collapsed}}</span>
		{{/is-dropdown}}
	</label>
	<div class="vector-menu-content">
		{{{html-before-portal}}}
		<ul class="vector-menu-content-list">{{{html-items}}}</ul>
		{{{html-after-portal}}}
	</div>
</nav>
