{{! `heading` is optional. }}
<div class="mw-sidebar-action ">
	<div class="mw-sidebar-action-item vector-menu-portal">
		{{#heading}}<div class="mw-sidebar-action-heading vector-menu-heading">{{.}}</div>{{/heading}}
		<div class="mw-sidebar-action-content vector-menu-content">
			{{{html-content}}}
		</div>
	</div>
</div>
