{{!
	string|null html-site-notice the contents of a banner defined in MediaWiki:Sitenotice.
		Also used by CentralNotice to inject banners into Vector.
	Indicator[] array-indicators wiki-defined badges such as "good article",
		"featured article". An empty array if none are defined.
	string html-title
	bool is-article
	string msg-tagline
	string html-subtitle
	string html-undelete-link
	string html-newtalk
	string msg-vector-jumptonavigation
	string msg-vector-jumptosearch
	string msg-vector-jumptocontent
	string html-body-content
	string html-categories
	string html-after-content
	string msg-navigation-heading
	LogoOptions data-logos
	object data-portlets
	MenuDefinition data-portlets.data-personal
	MenuDefinition data-portlets.data-namespaces
	MenuDefinition data-portlets.data-variants
	MenuDefinition data-portlets.data-views
	MenuDefinition data-portlets.data-actions
	object data-search-box. See SearchBox.mustache for documentation.
	boolean sidebar-visible For users that want to see the sidebar on initial render, this should be
	  true.
	string msg-vector-action-toggle-sidebar The label used by the sidebar button.
	string msg-vector-main-menu-tooltip The title attribute for the main menu icon.
	string msg-vector-menu-checkbox-expanded Dropdown menu span content for expanded selection in checkbox hack.
	string msg-vector-menu-checkbox-collapsed Dropdown menu span content for collapsed selection in checkbox hack.
	object data-portlets-sidebar. See Sidebar.mustache for documentation.
	object data-footer for footer template partial. see Footer.mustache for documentation.
}}
<div class="mw-page-container">
	<a class="mw-jump-link" href="#content">{{msg-vector-jumptocontent}}</a>
	<div class="mw-page-container-inner">

<input
	type="checkbox"
	id="mw-sidebar-checkbox"
	class="mw-checkbox-hack-checkbox"
	{{#sidebar-visible}}checked{{/sidebar-visible}}>

{{>Header}}
<div class="mw-workspace-container">
	{{>Navigation}}
	<div class="mw-content-container">
{{! `role` is unnecessary but kept to support selectors in any gadgets or user styles. }}
<main id="content" class="mw-body" role="main">
	<a id="top"></a>
	<div id="siteNotice">{{{html-site-notice}}}</div>

	{{^is-language-in-header}}
	{{>Indicators}}
	<h1 id="firstHeading" class="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
	{{/is-language-in-header}}

	{{#is-language-in-header}}
	<header class="mw-body-header">
		{{^is-mainpage}}
			{{#data-portlets.data-languages}}{{>Menu}}{{/data-portlets.data-languages}}
		{{/is-mainpage}}
		<h1 id="firstHeading" class="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
		{{>Indicators}}
		{{#is-article}}
			<div id="siteSub" class="noprint">{{msg-tagline}}</div>
		{{/is-article}}
	</header>
	{{/is-language-in-header}}

	<div id="bodyContent" class="vector-body">
		{{^is-language-in-header}}
			{{#is-article}}<div id="siteSub" class="noprint">{{msg-tagline}}</div>{{/is-article}}
		{{/is-language-in-header}}
		<div id="contentSub"{{{html-user-language-attributes}}}>{{{html-subtitle}}}</div>
		<div id="contentSub2">{{{html-undelete-link}}}</div>
		{{{html-user-message}}}
		{{{html-body-content}}}
		{{{html-categories}}}
	</div>

	{{#is-mainpage}}
	{{#is-language-in-header}}
		{{#data-portlets.data-languages}}{{>Menu}}{{/data-portlets.data-languages}}
	{{/is-language-in-header}}
	{{/is-mainpage}}

</main>
{{{html-after-content}}}
	</div> {{! END mw-content-container }}
</div> {{! END mw-workspace-container }}

<div class="mw-workspace-container mw-footer-container">
	<div class="mw-content-container">
		{{#data-footer}}{{>Footer}}{{/data-footer}}
	</div>
</div>
	</div> {{! END mw-page-container-inner }}
</div> {{! END mw-page-container }}
{{#data-vector-sticky-header}}
{{>StickyHeader}}
{{/data-vector-sticky-header}}
