<li id="toc-{{anchor}}"
	class="vector-toc-list-item vector-toc-level-{{toclevel}}{{#is-top-level-section}}{{^vector-is-collapse-sections-enabled}} vector-toc-list-item-expanded{{/vector-is-collapse-sections-enabled}}{{/is-top-level-section}}">
	<a class="vector-toc-link" href="#{{linkAnchor}}">
		<div class="vector-toc-text">
			<span class="vector-toc-numb">{{number}}</span>
			<span>{{{line}}}</span>
		</div>
	</a>
	{{#extensionData.DiscussionTools-html-summary}}
	{{{.}}}
	{{/extensionData.DiscussionTools-html-summary}}
	{{#is-top-level-section}}{{#is-parent-section}}
		<button aria-controls="toc-{{anchor}}-sublist" class="cdx-button cdx-button--weight-quiet cdx-button--icon-only vector-toc-toggle">
			<span class="vector-icon mw-ui-icon-wikimedia-expand"></span>
			<span>{{{vector-button-label}}}</span>
		</button>
	{{/is-parent-section}}{{/is-top-level-section}}
	<ul id="toc-{{anchor}}-sublist" class="vector-toc-list">
		{{#array-sections}}
		{{>TableOfContents__line}}
		{{/array-sections}}
	</ul>
</li>
