<nav id="mw-panel-toc" class="sidebar-toc" role="navigation" aria-labelledby="sidebar-toc-header">
	<div class="sidebar-toc-header">
		<h2 class="sidebar-toc-title" aria-hidden="true">Contents</h2>
	</div>
	<ul id="table-of-contents">
		{{#array-sections}}
		{{>TableOfContents__line}}
		{{/array-sections}}
	</ul>
</nav>
