<div class="mw-table-of-contents-container">
	{{! T313060 Additional container div needed to prevent the sticky element from being siblings with the footer }}
	<div class="vector-sticky-toc-container mw-sticky-header-element">
		{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
	</div>
</div>
