<nav class="vector-user-links{{#is-wide}} vector-user-links-wide{{/is-wide}}" aria-label="{{msg-personaltools}}" role="navigation" >
	<div class="vector-user-links-main">
	{{#data-user-links-preferences}}{{>Menu}}{{/data-user-links-preferences}}
	{{#data-user-links-user-page}}{{>Menu}}{{/data-user-links-user-page}}
	<nav class="vector-client-prefs-landmark" aria-label="{{msg-vector-client-prefs-label}}">
		{{#data-client-prefs-dropdown}}{{>Dropdown/Open}}{{/data-client-prefs-dropdown}}
			{{#data-client-prefs}}
			{{>PinnableContainer/Unpinned/Open}}
				{{! Use `#vector-client-prefs-unpinned-container .vector-client-prefs` to target styles at this element}}
				{{^is-pinned}}{{>ClientPreferences}}{{/is-pinned}}
			{{>PinnableContainer/Close}}
			{{/data-client-prefs}}
		{{#data-client-prefs-dropdown}}{{>Dropdown/Close}}{{/data-client-prefs-dropdown}}
	</nav>
	{{#data-user-links-notifications}}{{>Menu}}{{/data-user-links-notifications}}
	{{#data-user-links-overflow}}{{>Menu}}{{/data-user-links-overflow}}
	</div>
	{{>UserLinksDropdown}}
</nav>
