<nav class="vector-user-links{{#is-wide}} vector-user-links-wide{{/is-wide}}" aria-label="{{msg-personaltools}}" role="navigation" >
	{{#data-user-menu-overflow}}{{>Menu}}{{/data-user-menu-overflow}}
	{{#data-user-menu}}{{>Menu}}{{/data-user-menu}}
</nav>
