<div class="vector-user-menu-create-account">{{{htmlCreateAccount}}}</div>
<div class="vector-user-menu-login">{{{htmlLogin}}}</div>
<div class="vector-user-menu-anon-editor">
	<p>
		{{{msgLearnMore}}} {{{htmlLearnMoreLink}}}
	</p>
</div>
