<div class="vector-user-menu-create-account">{{{htmlCreateAccount}}}</div>
<div class="vector-user-menu-login">{{{htmlLogin}}}</div>
{{#data-anon-editor}}
<div class="vector-user-menu-anon-editor">
	<p>
		{{{msgLearnMore}}} {{{htmlLearnMoreLink}}}
	</p>
</div>
{{/data-anon-editor}}
