<nav class="vector-user-links{{#is-wide}} vector-user-links-wide{{/is-wide}}" aria-label="{{msg-personaltools}}">
	<div class="vector-user-links-main">
	{{#data-user-links-preferences}}{{>Menu}}{{/data-user-links-preferences}}
	{{#data-user-links-user-page}}{{>Menu}}{{/data-user-links-user-page}}
	<nav class="vector-appearance-landmark" aria-label="{{msg-vector-appearance-label}}">
		{{#data-appearance-dropdown}}{{>Dropdown/Open}}{{/data-appearance-dropdown}}
			{{#data-appearance}}
			{{>PinnableContainer/Unpinned/Open}}
				{{! Use `#vector-appearance-unpinned-container .vector-appearance` to target styles at this element}}
				{{^is-pinned}}{{>Appearance}}{{/is-pinned}}
			{{>PinnableContainer/Close}}
			{{/data-appearance}}
		{{#data-appearance-dropdown}}{{>Dropdown/Close}}{{/data-appearance-dropdown}}
	</nav>
	{{#data-user-links-notifications}}{{>Menu}}{{/data-user-links-notifications}}
	{{#data-user-links-overflow}}{{>Menu}}{{/data-user-links-overflow}}
	</div>
	{{>UserLinksDropdown}}
</nav>
