{{#data-variants}}
{{#data-variants-dropdown}}{{>Dropdown/Open}}{{/data-variants-dropdown}}
	{{#data-variants-menu}}{{>Menu}}{{/data-variants-menu}}
{{#data-variants-dropdown}}{{>Dropdown/Close}}{{/data-variants-dropdown}}
{{/data-variants}}
