@import 'mediawiki.skin.variables';
@import 'overlay/pageIssuesOverlay.less';

.minerva-icon--issue-severity-medium-mediumColor {
	.cdx-mixin-css-icon( 'none', #ff5d01 );
	-webkit-mask-image: url( ./page-issues/images/icon-issue-severity-medium.svg );
	mask-image: url( ./page-issues/images/icon-issue-severity-medium.svg );
}

.minerva-icon--issue-type-point-of-view-mediumColor {
	.cdx-mixin-css-icon( 'none', #ff5d01 );
	-webkit-mask-image: url( ./page-issues/images/icon-issue-severity-medium.svg );
	mask-image: url( ./page-issues/images/icon-issue-type-point-of-view.svg );
}

.minerva-icon--issue-severity-low-lowColor {
	.cdx-mixin-css-icon( 'none', #f5a623 );
	-webkit-mask-image: url( ./page-issues/images/icon-issue-severity-low.svg );
	mask-image: url( ./page-issues/images/icon-issue-severity-low.svg );
}

.minerva-icon--issue-type-move-defaultColor {
	.cdx-mixin-css-icon( 'none', #36c );
	-webkit-mask-image: url( ./page-issues/images/icon-issue-type-move );
	mask-image: url( ./page-issues/images/icon-issue-type-move );
}

.minerva-icon--issue-generic-defaultColor {
	.cdx-mixin-css-icon( 'none', #54595d );
	-webkit-mask-image: url( ./page-issues/images/icon-issue-generic.svg );
	mask-image: url( ./page-issues/images/icon-issue-generic.svg );
}

.minerva-icon--issue-generic-lowColor {
	.cdx-mixin-css-icon( 'none', #fc3 );
	-webkit-mask-image: url( ./page-issues/images/icon-issue-generic.svg );
	mask-image: url( ./page-issues/images/icon-issue-generic.svg );
}

.minerva-icon--issue-generic-mediumColor {
	.cdx-mixin-css-icon( 'none', #ff5d01 );
	-webkit-mask-image: url( ./page-issues/images/icon-issue-generic.svg );
	mask-image: url( ./page-issues/images/icon-issue-generic.svg );
}

.minerva-icon--issue-generic-highColor {
	.cdx-mixin-css-icon( 'none', #f54739 );
	-webkit-mask-image: url( ./page-issues/images/icon-issue-generic.svg );
	mask-image: url( ./page-issues/images/icon-issue-generic.svg );
}
