@import '../variables.less';
@import 'mediawiki.mixins.less';

.mw-portlet {
	// Hidden by default, but displayed by certain menus
	// e.g. MenuPortal
	.vector-menu-heading {
		display: none;
	}

	ul {
		list-style: none none;
		margin: 0;
	}
}
