{{#data-portlets.data-dock-bottom}}
<div class="{{ class }}" id="{{id}}">
        <ul>
                {{#array-items}}{{{html-item}}}{{/array-items}}
        </ul>
</div>
{{/data-portlets.data-dock-bottom}}
