<div class="donate-banner">
	<a href="{{msg-skin-minerva-donate-banner-url}}" class="donate-banner__link"
		data-event-name="menu.donateBanner">
		<div class="donate-banner__text-container">
			<span class="donate-banner__text">{{msg-skin-minerva-donate-banner-message}}</span>
			<span class="donate-banner__subtitle">{{msg-skin-minerva-donate-banner-subtitle}}</span>
		</div>
		<picture>
			<source
    			srcset="{{msg-skin-minerva-donate-banner-reduced-motion}}"
   				media="(prefers-reduced-motion)" />
			<img src="{{msg-skin-minerva-donate-banner-gif}}" alt="" class="donate-banner__gif" loading="lazy">
		</picture>
	</a>
</div>
