{{#data-footer}}
{{! `role` is implied in `footer` element, but added to mitigate a VoiceOver bug. }}
<footer class="mw-footer minerva-footer" role="contentinfo">
{{#data-minerva-history-link}}
  {{>history}}
{{/data-minerva-history-link}}
	<div class="post-content footer-content">
	{{{html-after-content}}}
	{{>LanguageSection}}
	<div class="minerva-footer-logo">
		{{#data-logos}}{{>Logo}}{{/data-logos}}
		{{#data-icons}}{{>footerIconList}}{{/data-icons}}
	</div>
	{{#data-info}}{{>footerItemList}}{{/data-info}}
	{{#data-places}}{{>footerItemList}}{{/data-places}}
	</div>
</footer>
{{/data-footer}}
