<a class="last-modified-bar" href="{{href}}">
	<div class="post-content last-modified-bar__content">
		{{#historyIcon}} {{>Icon}} {{/historyIcon}}
		<span class="last-modified-bar__text modified-enhancement"
				data-user-name="{{data-user-name}}"
				data-user-gender="{{data-user-gender}}"
				data-timestamp="{{data-timestamp}}">
				<span>{{text}}</span>
		</span>
		{{#arrowIcon}} {{>Icon}} {{/arrowIcon}}
	</div>
</a>
