<div id="mw-mf-page-left" class="menu toggle-list__list view-border-box">
	{{#groups}}
	<ul id="{{id}}">
		{{! "." means "current context", which allows us to iterate over Plain Old PHP Arrays™. }}
		{{#entries}}
			{{#.}}
			{{> menuGroup}}
			{{/.}}
		{{/entries}}
	</ul>
	{{/groups}}
	<ul class="hlist">
		{{#sitelinks}}
			{{> menuGroup}}
		{{/sitelinks}}
	</ul>
</div>
