<div id="mw-mf-viewport">
	<div id="mw-mf-page-center">
		<a class="mw-mf-page-center__mask" href="#"></a>
		{{>Header}}
		<main id="content" class="mw-body">
			<div class="banner-container">
			{{>banners}}
			</div>
			{{{html-user-message}}}
			{{^is-title-blank}}
			<div class="pre-content heading-holder">
				<div class="page-heading">
					{{{html-title-heading}}}
					{{{html-minerva-tagline}}}
				</div>
				{{#data-minerva-tabs}}
					<div class="minerva__tab-container">
						{{#items}}
							<a href="{{href}}" rel="{{rel}}" class="minerva__tab {{class}}" data-event-name="tabs.{{context}}">{{text}}</a>
						{{/items}}
					</div>
				{{/data-minerva-tabs}}
				{{#data-minerva-page-actions}}
				{{>PageActionsMenu}}
				{{/data-minerva-page-actions}}
				{{{html-subtitle}}}
			</div>
			{{/is-title-blank}}
			<div id="bodyContent" class="content">
				{{{html-body-content}}}
				{{! This shows "Return to page" on talk page when talk tab not shown at top.
				To see set wgMinervaTalkAtTop to false and visit a talk page}}
				{{{html-minerva-subject-link}}}
			</div>
			<div class="post-content" id="page-secondary-actions">
			{{#data-minerva-secondary-actions}}
				{{#talk}}
				{{>Button}}
				{{/talk}}
				{{#language}}
				{{>Button}}
				{{/language}}
			{{/data-minerva-secondary-actions}}
			</div>
			{{#html-categories}}
			<div class="post-content">{{{.}}}</div>
			{{/html-categories}}
		</main>
		{{>footer}}
	</div>
</div>
<div class="mw-notification-area" data-mw="interface"></div>
<!-- v:8.3.1 -->
