/**
 * This file is a LESS @import match for 'mediawiki.skin.variables.less'
 * when MinervaNeue is the active skin.
 */
@import 'mediawiki.skin.defaults.less';

// Body content uses the user setting in browser / the system default sans-serif font:
// Arial on Windows, Roboto on Android.
// FIXME: Use WikimediaUI Base's OS specific default sans-serif fonts.
@font-family-sans: sans-serif;

// Matches WikimediaUI Base and OOUI/WikimediaUI theme.
@border-radius-base: 2px;

@color-link: #36c;
@color-link--visited: #6b4ba1;
@color-link--active: #faa700;
