.mw-specialcite-bibliographic {
	border: 1px solid grey; 
	background: #E6E8FA; 
	width: 90%; 
	padding: 15px 30px 15px 30px; 
	margin: 10px auto;
}
.mw-specialcite-styles {
	border: 1px solid grey; 
	width: 90%; 
	padding: 15px 30px 15px 30px;
	margin: 10px auto;
}

