@import 'variables.less';

.skin-timeless .oo-ui-windowManager-modal > .oo-ui-dialog,
.skin-timeless .ve-ui-overlay-global {
	z-index: @z-index-overlay;
}

// Overlay background containers.
body > .oo-ui-windowManager,
.oo-ui-defaultOverlay {
	z-index: @z-index-overlay-backdrop;
	font-size: 0.95em;
}
