.ve-ui-mwAddParameterPage {
	.ve-ui-mwTransclusionDialog-addParameterFieldset {
		.oo-ui-fieldLayout-messages .oo-ui-messageWidget {
			margin-left: 0;
			margin-right: 0;
		}

		&-collapsed {
			.oo-ui-inline-help,
			.ve-ui-mwTransclusionDialog-addParameterFieldset-input {
				display: none;
			}
		}

		&-input {
			margin-top: 8px;

			.oo-ui-fieldLayout-field {
				width: 100%;
			}
		}

		&-header {
			.oo-ui-buttonElement-button {
				white-space: normal;
				word-break: break-word;
			}

			&.oo-ui-iconElement .oo-ui-iconElement-icon {
				height: 100%;
			}
		}
	}
}
