@import '../../minerva.less/minerva.variables.less';
@import '../../minerva.less/minerva.mixins.less';

// style that applies only to minerva footer
.minerva-footer {
	border-top: solid 1px @footerBorderColor;
	overflow: auto;
	padding-bottom: 6px;
}

// styles that apply to nested footer components
.mw-footer {
	.indicator {
		.client-nojs & {
			// Certain browsers e.g. Opera Mini do not support css transforms
			// We assume that we do not run JS on these browsers so hide the chevron
			display: none;
		}
	}

	// links should be separated by same color
	.hlist {
		li:after {
			color: @color-link;
		}
	}

	> .post-content {
		overflow: auto;
		margin-top: 42px;

		> * {
			margin-bottom: 9px;
		}

		.minerva-footer-logo {
			border-bottom: solid 1px @footerBorderColor;
			padding-bottom: 10px;
			margin-top: 42px;
			font-size: 1em;
			font-weight: bold;

			&:first-child {
				margin-top: 0;
			}
		}

		.hlist,
		.license {
			font-size: 0.875em;
		}
	}
}

@import 'LastModifiedBar.less';
