@import '../../minerva.less/minerva.variables.less';
@import '../../minerva.less/minerva.mixins.less';
@import 'mediawiki.mixins.less';

a.last-modified-bar {
	display: block;
	border-bottom: @border-subtle;
	background-color: @background-color-interactive;
	color: @color-subtle !important;
	padding-top: @icon-padding-medium;
	padding-bottom: @icon-padding-medium;
	font-size: @font-size-minerva-small;
	transition-property: background-color, color;
	transition-duration: @transition-duration-medium;

	.minerva-icon {
		background-color: @color-subtle;
	}
}

.last-modified-bar__content {
	align-items: center;
	.flex-display();
}

.last-modified-bar__text {
	@end-padding: @width-icon-gutter + @width-icon-gutter + @size-icon;
	padding-right: @end-padding;
	padding-left: @icon-padding-medium;
	line-height: @line-height-content;
	vertical-align: middle;
	flex-grow: 1;
	.text-overflow( @visible: false );
}

@media ( max-width: @max-width-breakpoint-mobile ) {
	.last-modified-bar__text {
		padding-right: 1em;
	}
}
