/* stylelint-disable selector-max-id */
@import '../../minerva.less/minerva.variables.less';

.heading-holder {
	padding: @titleSectionSpacingTop 0 0;
	position: relative;

	.tagline {
		color: @color-subtle;
		font-size: @taglineFontSize;
	}
}

.page-heading {
	margin-bottom: 12px;
}

// used to disable the languages icon.
.language-selector.disabled {
	cursor: default;
	opacity: 0.25;
}

// FIXME: Remove #page-actions when cache has cleared
#p-views,
#page-actions {
	position: relative;
}

.page-actions-menu {
	box-sizing: border-box;
	border-top: @border-width-base @border-style-base #eaecf0;
	border-bottom: @border-subtle;
	margin-top: -@border-width-base; // Offset top border.
}

.page-actions-menu__list {
	display: flex;
	height: @size-icon * 2;
	justify-content: space-between;
}

.page-actions-menu__list-item {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-width: 0;
	overflow: hidden;

	.cdx-button {
		color: @icon-color !important;
		font-weight: 500;
	}
}

// Layout for less than 5 items - one item at the beginning, rest at the end.
// |1-----2--3--4|
.page-actions-menu__list-item:first-child {
	flex-grow: 1;
	justify-content: flex-start;
	.cdx-mixin-button-layout-flush( 'start', true  );
}

// position the last icon with the edge of the content container
.page-actions-menu__list-item:last-child {
	.cdx-mixin-button-layout-flush( 'end', true  );
}

// Watchstar is hidden for anonymous no-js users
// While we could link the icon to the login/signup form, this is not
// a perfect experience and could be confusing.
// In JavaScript this icon will be converted to a watch icon and will point
// to a Call to action to sign up/login and explain why that's a good idea.
// Thus, anonymous users without JS will never see this icon.
// This is a small % of our users, so deemed okay.
.client-nojs {
	.watch-this-article {
		visibility: hidden;
	}

	.is-authenticated {
		.watch-this-article {
			visibility: visible;
		}
	}
}

// On small devices that don't support Javascript, hide the page actions bar
@media all and ( max-width: @width-breakpoint-mobile - 1 ) {
	.client-nojs {
		// FIXME: Remove #page-actions when cache has cleared
		#p-views,
		#page-actions {
			display: none;
		}

		.mw-first-heading {
			border: 0;
		}
	}
}
