{{!
	See @typedef SidebarData
}}

<div id="mw-panel">
	<div id="p-logo" role="banner">
		<a class="mw-wiki-logo" href="{{link-mainpage}}"
			title="{{msg-tooltip-p-logo}}"></a>
	</div>
	{{#data-portlets-first}}{{>Menu}}{{/data-portlets-first}}
	{{#array-portlets-rest}}{{>Menu}}{{/array-portlets-rest}}
	{{#data-portlets.data-languages}}{{>Menu}}{{/data-portlets.data-languages}}
</div>
