Aaron Schulz <aschulz@wikimedia.org>
Aaron Schulz <aschulz@wikimedia.org> <aaron@users.mediawiki.org>
Alex Monk <krenair@gmail.com> <krenair@wikimedia.org>
Antoine Musso <hashar@free.fr>
Antoine Musso <hashar@free.fr> <hashar@users.mediawiki.org>
Brad Jorsch <anomie.wikipedia@gmail.com>
Brad Jorsch <anomie.wikipedia@gmail.com> <bjorsch@wikimedia.org>
Brion Vibber <brion@pobox.com>
Brion Vibber <brion@pobox.com> <brion@users.mediawiki.org>
Brion Vibber <brion@pobox.com> <brion@wikimedia.org>
Chad Horohoe <chadh@wikimedia.org>
Chad Horohoe <chadh@wikimedia.org> <demon@users.mediawiki.org>
CSteipp <csteipp@wikimedia.org>
EBernhardson <ebernhardson@wikimedia.org>
Federico Leva <federicoleva@tiscali.it>
Florian Schmidt <florian.schmidt.stargatewissen@gmail.com>
Florian Schmidt <florian.schmidt.stargatewissen@gmail.com> <florian.schmidt.welzow@t-online.de>
Gergő Tisza <gtisza@wikimedia.org>
Gergő Tisza <gtisza@wikimedia.org> <tgr.huwiki@gmail.com>
jdlrobson <jdlrobson@gmail.com>
jdlrobson <jdlrobson@gmail.com> <jrobson@wikimedia.org>
Kunal Mehta <legoktm@gmail.com>
Kunal Mehta <legoktm@gmail.com> <legoktm@member.fsf.org>
Kunal Mehta <legoktm@gmail.com> <legoktm.wikipedia@gmail.com>
Mark A. Hershberger <mah@everybody.org>
Mark A. Hershberger <mah@everybody.org> <mah@users.mediawiki.org>
Matthew Flaschen <mflaschen@wikimedia.org>
Max Semenik <maxsem.wiki@gmail.com>
Max Semenik <maxsem.wiki@gmail.com> <maxsem@users.mediawiki.org>
Mukunda Modell <mmodell@wikimedia.org>
Mukunda Modell <mmodell@wikimedia.org> <twentyafterfour@mira.deployment-prep.eqiad.wmflabs>
Niklas Laxström <niklas.laxstrom@gmail.com>
Niklas Laxström <niklas.laxstrom@gmail.com> <nikerabbit@users.mediawiki.org>
Ori Livneh <ori@wikimedia.org>
Paladox <thomasmulhall410@yahoo.com>
Platonides <platonides@gmail.com>
Platonides <platonides@gmail.com> <platonides@users.mediawiki.org>
Raimond Spekking <raimond.spekking@gmail.com>
Raimond Spekking <raimond.spekking@gmail.com> <raymond@users.mediawiki.org>
Roan Kattouw <roan.kattouw@gmail.com>
Roan Kattouw <roan.kattouw@gmail.com> <catrope@users.mediawiki.org>
Siebrand Mazeland <siebrand@kitano.nl>
Siebrand Mazeland <siebrand@kitano.nl> <siebrand@users.mediawiki.org>
Siebrand Mazeland <siebrand@kitano.nl> <s.mazeland@xs4all.nl>
Sam Reed <reedy@wikimedia.org>
Sam Reed <reedy@wikimedia.org> <reedy@users.mediawiki.org>
Timo Tijhof <krinklemail@gmail.com>
Timo Tijhof <krinklemail@gmail.com> <ttijhof@wikimedia.org>
Tim Starling <tstarling@wikimedia.org>
Tim Starling <tstarling@wikimedia.org> <tstarling@users.mediawiki.org>
Tyler Cipriani <tcipriani@wikimedia.org>
Umherirrender <umherirrender_de.wp@web.de>
Yaron Koren <yaron57@gmail.com>
Yaron Koren <yaron57@gmail.com> <yaron@users.mediawiki.org>
