@import "mediawiki.skin.variables.less";

kbd {
	font-family: monospace, monospace;
	white-space: nowrap;
	font-size: larger;
}

fieldset {
	page-break-inside: avoid;
}

.cdx-button.mw-oathauth-recoverycodes-download {
	margin-top: 1em;
}
.mw-oathauth-recoverycodes-download-icon {
	.cdx-mixin-css-icon( @cdx-icon-download, @param-is-button-icon: true );
}
