/* stylelint-disable selector-max-id */
#pt-notifications-notice,
#pt-notifications-alert {
	.mw-echo-notifications-badge {
		margin: 0 auto;
	}

	a.mw-ui-icon-wikimedia-bellOutline-base20 {
		color: transparent;
	}
}

li#pt-notifications-notice,
li#pt-notifications-alert {
	list-style: none;
	width: 1.25em;
	height: 1.25em;
	padding: 0.75em;
	vertical-align: middle;
}
