/* stylelint-disable selector-max-id */
@import '../minerva.less/minerva.variables.less';

// By default a pseudo element is used for skins like Vector. We don't want this on Minerva.
.mw-diff-movedpara-right,
.mw-diff-movedpara-left,
.rtl .mw-diff-movedpara-left,
.rtl .mw-diff-movedpara-right {
	&::after {
		content: none;
	}
}

// Will be enhanced with JS
.mw-diff-timestamp {
	display: block;
	min-height: 20px;
}

.minoredit {
	margin-right: 8px;
	background: @background-color-interactive;
	border-radius: 2px;
	font-size: 0.9em;
	padding: 0 6px 1px;
}

@media all and ( max-width: @max-width-breakpoint-mobile ) {
	//
	// Navigation links
	//Reveal the previous and next navigation links
	//
	.mw-diff-revision-history-links {
		display: flex;
		justify-content: space-between;
		font-size: 0.9em;
		margin-top: 8px;
	}

	.mw-diff-revision-history-link-previous {
		flex-grow: 1;
		text-align: start;
	}

	.mw-diff-revision-history-link-next {
		flex-grow: 1;
		text-align: end;
	}

	//
	// Diff header
	//
	.diff-ntitle {
		text-align: left;

		> div {
			padding-bottom: 0.5em;
		}

		// Special case since #mw-diff-ntitle2 is position fixed.
		#mw-diff-ntitle3 {
			padding-top: 0.5em;
		}
	}

	.minor-edit {
		display: block;
	}

	//
	// date of edit
	//
	.mw-diff-timestamp {
		color: #72777d;
		height: 1em;
		line-height: 1em;
		display: block;
	}

	.comment {
		display: block;
	}

	//
	// Diff
	//
	.content table.diff {
		display: block;

		tbody,
		tr,
		td {
			display: block;
			padding: 0;
		}

		.diff-otitle {
			display: none;
		}
	}

	//
	// Sticky User box at bottom of page
	//
	#mw-diff-ntitle2 {
		text-align: left;
		position: fixed;
		height: 8em;
		padding: 1em;
		background-color: @background-color-interactive-subtle;
		border-top: 1px solid @border-color-subtle;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: @z-index-above-content;
	}

	.mw-diff-tool {
		bottom: 7em;
		position: fixed;
		z-index: @z-index-stacking-2;
		right: 8px;

		.jquery-confirmable-interface {
			background-color: @background-color-interactive-subtle;
			border: @border-subtle;
			padding: @spacing-50;
		}

		.jquery-confirmable-element {
			~ .jquery-confirmable-interface {
				display: none;
			}

			&.hidden {
				~ .jquery-confirmable-interface {
					display: block;
				}
			}
		}
	}

	.mw-userlink {
		&::before {
			content: '';
			margin-right: 8px;
			.cdx-mixin-css-icon( @cdx-icon-user-avatar, @color-subtle);
		}

		&.mw-anonuserlink::before {
			.cdx-mixin-css-icon( @cdx-icon-user-anonymous, @color-subtle);
		}
	}

	.mw-diff-usermetadata {
		display: block;
	}

	.mw-diff-userroles {
		margin-top: 0.7em;
	}

	.mw-diff-usereditcount {
		margin-top: 1.2em;
		display: inline-block;

		span {
			text-align: center;
			font-size: 1.85em;
			color: @color-subtle;
			display: block;
			line-height: 20px;
		}
	}

	//
	// Typography
	//

	.mw-diff-usermetadata,
	.mw-diff-timestamp {
		font-size: 0.7em;
		text-transform: uppercase;
	}

	//
	// HIDDEN UI ELEMENTS
	//
	// hidden for now to match historic Special:MobileDiff
	// Sam Walton's team should enable this as needed.
	.mw-usertoollinks,
	#mw-diff-ntitle4,
	.mw-diff-inline-legend,
	.mw-diff-inline-header,
	.mw-diffPage-inlineToggle-container,
	#mw-diff-ntitle5,
	.mw-diff-edit,
	.mw-diff-undo,
	.mw-revdelundel-link {
		display: none !important;
	}

	#mw-diff-ntitle1 strong {
		font-weight: normal;

		> a {
			padding: 0.5em 0;
			display: block;
			line-height: 1.6;
		}
	}
}

// Wikitext font size is restored to 100%, as in mediawiki.editfont.styles
.diff-addedline,
.diff-deletedline,
.diff-context,
.mw-diff-inline-added,
.mw-diff-inline-deleted,
.mw-diff-inline-moved,
.mw-diff-inline-changed,
.mw-diff-inline-context {
	font-size: 100%;
}

.mw-article-diff {
	#firstHeading {
		font-size: 1.5em;
	}
}

// Bug: T357213 - always show patrol link. Previews are hidden by default
// on mobile, but we trust patrollers to only patrol diffs that do not require
// viewing the preview.
.patrollink.patrollink-diffonly {
	display: block;
}
/* stylelint-enable selector-max-id */
