@import 'mediawiki.ui/variables';
@import '../minerva.less/minerva.variables.less';

// Reset .content ul styles from core.
.content {
	.page-summary h3 {
		padding: 0;
	}
}

@media screen and ( min-width: @width-breakpoint-tablet ) {
	.empty-page {
		max-width: @contentMaxWidthTablet + 2 * @iconGutterWidth;
		margin-left: auto;
		margin-right: auto;
	}
}
