body {
	margin: 0;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
	color: #46494d;
	background: #ffffff;
/* 	font-size: 14px; */
	font-family: sans-serif;
}

a {
	color: #0771a6;
	text-decoration: none;
}

a:hover {
	color: #333333;
	text-decoration: underline;
}

a:visited {
	color: #0771a6;
}

#logo {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	left: 25px;
	width: 350px;
	text-indent: -9999px;
	background: transparent url("logo.png") top left no-repeat;
	border:none;
	width: 350px;
	height: 103px;
}

#nav_bar {
	position: absolute;
	top: 123px;
	left:0px;
	right:0px;
	background: #333333;

}

#nav {
	height:26px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right:30px;
}

#nav li {
	display: block;
	float: right;
	margin: 0 3px;
	padding: 0;
	text-align: center;
	font-size: 13px;
	line-height: 26px;
}

#nav li.selected {
	background: #1793d1;
	padding: 0 8px;
	color: #ffffff;
	font-weight: bold;
}

#nav li a {
	display: block;
	padding: 0 8px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#nav li a:hover {
	background: #1793d1;
}

#subnav_bar {
	position: absolute;
	top: 149px;
	left:0px;
	right:0px;
	height:26px;
	background: #1793d1;
	clear:both;
}

/* MediaWiki: */

#content {
	top: 173px;
}

#column-one {
	padding-top: 203px;
}

#column-content {
	padding-bottom:210px;
}

#p-cactions {
	top: 201px;
	left: 160px;
}

#content {
	border-right: 1px solid #aaa;
}

.pBody {
	background-color: #F0F0F0;
}

#footer {
	background-color: #F0F0F0;
	border-color: #AAAAAA;
}

h1, h2, h3, h4, h5, h6 {
	color: #0771a6;
}

#bodyContent table {
	border-collapse: collapse;
	padding: 4px;
}

#bodyContent td {
	padding: 4px;
}

#bodyContent a.external {
	color: #49AADB;
}

#p-personal {
	top: 154px;
	font-size:14px;
	font-weight: bold;
	line-height: 26px;
}

li#pt-userpage,
li#pt-anonuserpage,
li#pt-login {
	background: #1793d1;
}

li#pt-login {
	padding-right:30px;
}

#p-personal ul {
	color: #ffffff;
	text-transform: none;
}
#p-personal li {
	color: #ffffff;
}
#p-personal li a {
	color: #ffffff;
	margin-left: 8px;
}
#p-personal li a:hover {
	background-color: #1793d1;
	color: #DBDBDB;
}
#p-personal li.active a:hover {
	background-color: #1793d1;
}

#p-personal a.new, #p-personal a.new:visited {
	color: #DBDBDB;
}

ul {
	list-style-image: none;
	color: #0771a6;
}

.portlet ul {
	list-style-image: none;
	color: #0771a6;
}

.portlet li {
	margin: 2px;
}

#p-cactions li.selected {
	border-color: #0771a6;
}
#p-cactions li a {
	color: #0771a6;
}