/* general styling */
body { background: #f6f9fc; }
body, #content, table { color: #222;}
h1, h2, h3, h4, h5 { color: #222; }
h1 { font-weight: bold; }
pre { border: 1px solid #bcd; background: #ebf1f5; color: #222; }
code { font-family: monospace; }

/* links (including page tabs and personal toolbar) */
a, #p-cactions li a { text-decoration: none; outline: none; }
a:link, #p-cactions li a, #p-personal li a, #bodyContent a.external { color: #07b; }
#bodyContent p a, #bodyContent li a, #bodyContent td a { font-weight: bold; }
#bodyContent #toc a, #bodyContent .special li > a, #bodyContent .special li span a, #bodyContent #pagehistory a { font-weight: normal; }
a:visited, #bodyContent a:visited.external { color: #666; }
a:focus { color: #e90 !important; }
a:hover, #p-personal li a:hover, #bodyContent #toc a:hover, #bodyContent a:hover.external { text-decoration: underline; background-color: transparent; color: #999; }
a:active { color: #e90 !important; }
a.new, #p-cactions .new a { color: #b00 !important; }

/* bump down the personal toolbar (top menu) */
#p-personal { top: 70px; }

/* bump down the action tabs (page, discuss, edit, etc.) */
#p-cactions { top: 7.5em; }
/* first for IE6 */
#p-cactions { top: 97px; }
/* and now for the rest */
html > body #p-cactions { top: 92px; }

/* bump down the main content to make room for navbar */
#content { top: .8em; }
#content { top: 10px; }

/* shrink the content just enough to show off the borders */
div#globalWrapper { width: 99%; }

/* article Table of Contents */
#toc, .toc, .mw-warning { background-color: #f9faff; border: 1px solid #d7dfe3; }

/* sidebar menus and content borders */
.pBody { border: 1px solid #ddd; }
div#content { border: 1px solid #ccc; }

/* disable default mediawiki logo and close the gap it leaves behind */
#p-logo { display: none !important;}
/* first for IE6 */
#column-one { padding-top: 90px; }
/* and now for the browsers that work like they should  */
html > body #column-one { padding-top: 36px; }

/* disable footer logos  TODO: see if this can be done in LocalSettings.php */
#f-poweredbyico, #f-copyrightico { display: none; }

/* clean up the footer */
div#footer { color: #888; background-color: transparent; border-top: none; border-bottom: none; }

/* bring footer text inline with content */
/* first for IE6 */
#footer ul { margin-left: 0; }
/* and now for the other browsers that work properly */
html > body #footer ul { margin-left: 170px; }

/* highlight current website in the navbar */
#archnavbar ul li.anb-selected a { color: white !important; }

/* don't highlight https links */
#bodyContent a.external[href ^="https://"], .link-https { background: none; padding: 0; }

/* make tables prettier */
#bodyContent table { border-collapse: collapse; padding: 2px; }
#bodyContent td { padding: 2px; }

ul, .portlet ul { list-style-image: none; }
