/*
 * This file should contain only common LESS definitions, which need to be
 * imported in other .less files. Common stylesheets do not belong here, they
 * should be added to files present in the "styles" array in extension.json.
 */

@body-background-color: #f6f9fc;
@content-background-color: #fff;
@content-border-width: 1px;
@content-border-style: @content-border-width solid;
@content-border-color: #ccc;
@text-color: #222;
@code-background-color: #ebf1f5;
@code-border-style: 1px solid;
@code-border-color: #bcd;
@toc-background-color: #f9faff;
@toc-border-style: 1px solid;
@toc-border-color: #d7dfe3;

@link-color-normal: #07b;
@link-color-hover: #999;
@link-color-active: #e90;
@link-color-visited: #795cb2;
@link-color-new: #b00;

:root {
  --archwiki-background-color-base: var(--archwiki-body-background-color);
  --archwiki-body-background-color: @body-background-color;
  --archwiki-text-color: @text-color;
  --archwiki-content-background-color: @content-background-color;
  --archwiki-content-border-color: @content-border-color;
  --archwiki-toc-background-color: @toc-background-color;
  --archwiki-toc-border-color: @toc-border-color;
  --archwiki-code-border-color: @code-border-color;
  --archwiki-code-background-color: @code-background-color;
}

.dark-mode-colors() {
  // this resets to MediaWiki colors
  --archwiki-body-background-color: var(--background-color-base);
  --archwiki-text-color: var(--color-base);
  --archwiki-content-background-color: var(--background-color-base);
  --archwiki-content-border-color: var(--background-color-base);
  --archwiki-toc-background-color: var(--background-color-base);
  --archwiki-code-background-color: var(--background-color-base);
}
