/*
 * This file should contain only common LESS definitions, which need to be
 * imported in other .less files. Common stylesheets do not belong here, they
 * should be added to files present in the "styles" array in extension.json.
 */

:root {
  --archwiki-background-color-base: var(--archwiki-body-background-color);
  --archwiki-body-background-color: #f6f9fc;
  --archwiki-text-color: #222;
  --archwiki-content-background-color: #fff;
  --archwiki-content-border-width: 1px;
  --archwiki-content-border-style: var(--archwiki-content-border-width) solid;
  --archwiki-content-border-color: #ccc;
  --archwiki-toc-background-color: #f9faff;
  --archwiki-toc-border-style: 1px solid;
  --archwiki-toc-border-color: #d7dfe3;
  --archwiki-code-background-color: #ebf1f5;
  --archwiki-code-border-style: 1px solid;
  --archwiki-code-border-color: #bcd;
  --archwiki-link-color-normal: #07b;
  --archwiki-link-color-hover: #999;
  --archwiki-link-color-active: #e90;
  --archwiki-link-color-visited: #795cb2;
  --archwiki-link-color-new: #b00;
}

.dark-mode-colors() {
  // this resets to MediaWiki colors
  --archwiki-body-background-color: var(--background-color-base);
  --archwiki-text-color: var(--color-base);
  --archwiki-content-background-color: var(--background-color-base);
  --archwiki-content-border-color: var(--background-color-base);
  --archwiki-toc-background-color: var(--background-color-base);
  --archwiki-code-background-color: var(--background-color-base);
}
