/*
 * This file should contain only common LESS definitions, which need to be
 * imported in other .less files. Common stylesheets do not belong here, they
 * should be added to files present in the "styles" array in extension.json.
 */

:root {
  /* TODO: choose suitable dark colors */
  --archwiki-background-color-base: var(--archwiki-body-background-color);
  --archwiki-body-background-color: light-dark(#f6f9fc, #101418);
  --archwiki-text-color: light-dark(#222, var(--color-base));
  --archwiki-content-background-color: light-dark(#fff, #101418);
  --archwiki-content-border-width: 1px;
  --archwiki-content-border-style: var(--archwiki-content-border-width) solid;
  --archwiki-content-border-color: light-dark(#ccc, #101418);
  --archwiki-toc-background-color: light-dark(#f9faff, #101418);
  --archwiki-toc-border-style: 1px solid;
  --archwiki-toc-border-color: #d7dfe3;
  --archwiki-code-background-color: light-dark(#ebf1f5, #080c10);
  --archwiki-code-border-style: 1px solid;
  --archwiki-code-border-color: light-dark(#bcd, #384756);
  --archwiki-link-color-normal: #07b;
  --archwiki-link-color-hover: #999;
  --archwiki-link-color-active: #e90;
  --archwiki-link-color-visited: #795cb2;
  --archwiki-link-color-new: #b00;
}
