.mw-checkuser-cidrform {
	.oo-ui-labelWidget {
		margin-top: 12px;
	}

	.mw-checkuser-cidr-res-label {
		padding-bottom: 4px;
	}

	.mw-checkuser-cidr-tool-links-hidden {
		display: none;
		margin-top: 0;
	}

	.mw-checkuser-cidr-ipnote {
		font-weight: 600;
	}

	.mw-checkuser-cidr-tool-links {
		display: block;
	}
}

.mw-checkuser-cidr-calculator-hidden {
	display: none;
}
