/*!
 * Styles for Special:InvestigateBlock
 */
@import 'mediawiki.skin.variables.less';

// OOUIHTMLForm specifics
@ooui-font-size-browser: 16; // Assumed browser default of `16px`.
@ooui-font-size-base: 0.875em; // Equals `14px` at browser default of `16px`.

@ooui-spacing-radio-label: (26 / @ooui-font-size-browser / @ooui-font-size-base); // Equals `1.85714286em`≈`26px`.

.ext-checkuser-investigate-block-notice.oo-ui-fieldLayout {
	margin-left: @ooui-spacing-radio-label;
	max-width: 50em - @ooui-spacing-radio-label;
}

.mw-special-InvestigateBlock .mw-htmlform {
	> .oo-ui-panelLayout-framed {
		border: 0;
	}

	> .oo-ui-panelLayout-padded {
		padding: 0;
	}

	.mw-htmlform-select-and-other-field {
		.oo-ui-textInputWidget,
		.oo-ui-dropdownInputWidget {
			display: block;
			max-width: 50em;
		}

		.oo-ui-textInputWidget {
			margin-top: 0.5em;
		}
	}
}
