@import 'mediawiki.skin.variables.less';

.mw-special-Watchlist,
.mw-special-Recentchanges {
	.ext-checkuser-tempaccount-reveal-ip,
	.ext-checkuser-tempaccount-reveal-ip-button.oo-ui-buttonElement {
		float: none;
		margin-top: -5px;
		margin-right: 0;

		.oo-ui-buttonElement-button {
			padding: 1px;
			min-height: 0;
		}
	}
}

.mw-special-Contributions .ext-checkuser-tempaccount-reveal-ip-button {
	margin-right: 0;
	margin-top: -4.5px;
}
