#vector-client-prefs {
	> .vector-dropdown-content {
		top: auto;
		bottom: 40px;
		right: 8px;
		left: auto;
		min-width: 340px;
		padding: 40px;

		> div {
			margin: 8px 0;
		}
	}

	h2 {
		font-size: 1.1em;
		font-weight: bold;
		border: 0;
		padding: 0;
		margin-bottom: 20px;
	}

	form {
		> label {
			display: block;
			font-weight: bold;
		}
	}

	fieldset {
		border: 0;
		padding: 10px 0 0;
		display: block;
		margin: 0;

		> div {
			display: block;
			padding: 8px 0;

			label {
				margin-left: 8px;
			}
		}
	}
}
