@import '../../../../minerva.less/minerva.variables.less';

@smallIconSize: 24px;

.mw-mf-cleanup {
	display: block;
	margin: 0;
	padding: 0;
	font-size: @font-size-minerva-smallest;
	color: @colorGray7;
}

// overlay styles
.overlay-issues {
	.cleanup {
		> li {
			border-bottom: solid 1px @grayLight;

			.issue-notice {
				padding: @smallIconSize @smallIconSize @smallIconSize 0;

				.mw-ui-icon {
					float: left;
					left: @contentPadding/2;
				}
			}

			small,
			.hide-when-compact {
				font-size: @font-size-minerva-smallest;
			}

			.hide-when-compact {
				display: block;
				margin: 8px 0;
			}
		}
	}

	.issue-details {
		// This should match the icon width for the overlay close icon
		//  which is derived from these two variables:
		padding-left: @iconSize + ( 2 * @iconGutterWidth );

		// align the first line to the top of the element
		// but line-height should be normal for text that follows (T190469)
		> :first-line {
			line-height: 1;
		}

		// assume date
		small i {
			color: @colorGray7;
		}
	}
}
