@import 'mediawiki.ui/variables.less';

.mw-inputbox-centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.mw-inputbox-inline {
	display: inline;
}

.mw-inputbox-element.mw-inputbox-element {
	display: inline-table;
	white-space: nowrap;
}

.mw-inputbox-input {
	margin-bottom: 0.5em;
}

.mw-inputbox-createbox:required:invalid ~ .mw-ui-button {
	// appear like .mw-ui-input:disabled
	background-color: @colorGray12;
	color: @color-base--inverted;
	border-color: @colorGray12;
	cursor: default;
}
