@import '../../minerva.less/minerva.variables.less';

// The list that opens underneath the button.
.minerva-user-menu-list {
	top: 100%;
	right: -@icon-padding-medium;
	min-width: 200px;
	max-width: unit( 350px / @font-size-browser, em );
	border-radius: @border-radius-base;
}
