.ext-WikiEditor-realtimepreview-button {
	&:hover {
		background-color: unset;
	}

	&.oo-ui-toggleWidget-on .oo-ui-labelElement-label {
		color: unset;
	}

	&.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {
		padding: 0 3px 0 0;
	}
}

.ext-WikiEditor-twopanes-pane2 {
	.ext-WikiEditor-reloadButton {
		opacity: 0;
		transition: opacity 100ms;
		position: absolute;
		top: 8px;
		right: 15px;
		z-index: 5;
		box-shadow: 0 0.2em 1em rgba( 0, 0, 0, 0.3 );
	}
}
