.ext-WikiEditor-realtimepreview-onboarding-dot {
	position: absolute;
	left: 50%;
	top: 100%;
	cursor: pointer;
	z-index: 3;
}

.ext-WikiEditor-realtimepreview-onboarding-popup {
	.oo-ui-popupWidget-body-padded {
		margin: 12px;
	}

	.ext-WikiEditor-image-realtimepreview-onboarding {
		// Height to match the SVG's.
		height: 164px;
	}

	.ext-WikiEditor-realtimepreview-onboarding-button {
		margin-top: 24px;
	}
}
