@import '../../minerva.less/minerva.variables.less';

@media screen and ( min-width: @width-breakpoint-desktop ) {
	.language-searcher {
		.panel-body,
		.overlay-content-body {
			margin-left: auto;
			margin-right: auto;
			max-width: @contentMaxWidthTablet;
		}

		.list-header {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
